@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
	font-family: "Poppins", sans-serif;
	text-align: center;
	background: #4f4ce1;
	
}
button {
		width: fit-content;
    height: 30px;
		border-radius: 10px;
		color: white;
    border-style: solid;
	margin-bottom: 5px;
	background: grey;
  }
::placeholder {
	color: black;
}
.form {
			position: absolute;
			right: 42%;
			bottom: 44%;
			height: 30px;
			width: fit-content;
			text-align: center;
			border-radius: 15px;
			display: flex;
			background: none;
			color: black;
	border-color: black;
			-webkit-transition: 0.5s all ease;
		transition: 0.5s ease all;
		}
button:hover {
	cursor: pointer;
}
.search-box {
	position: absolute;
	margin-top: 75px;
	width: 100%;
}
.link {
	text-align: center;
	margin-top: 50px;
}
.settings {
	border-radius: 23px;
	height: 23px;
	width: 23px;
	position: relative;
	bottom: 12px;
}
.top-navigation {
	float: right;
	margin-right: 25px;
	font-family: 'Poppins', sans-serif;
}

.top-navigation li {
	list-style: none;
	display: inline-block;
	text-align: right;
	bottom: ;
	padding: 5px 10px 0 0;
	vertical-align: bottom;
	margin: 5px 5px 0 0;
	font-size: 13px;
}

.top-text {
bottom: 20px;
position: relative;
cursor: pointer;
}

.fa {
	font-size: 40px;
	vertical-align: top;
	opacity: 0.7;
	cursor: default;
}

.fa:hover {
	opacity: 1.0;
}
input {
			border-style: solid;
		}
.settingoptions {
	text-align: center;
}
.content {
	text-align: center;
}

.content h2 {
  color: #fff;
  font-size: 40px;
  position: absolute;
  transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #000000;
}

.content h2:nth-child(2) {
  color: #3c2f6a; gradient;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
iframe{
	border-width: 0px;
	color: black;
}
gxmes {
	align-items: center;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #ff002b;
  background-color: transparent;
  text-decoration: none;
}